@media only screen and (max-width: 800px) {
    .landing-home-main{
        .huge-title-white{
            font-size: 45px;
            font-weight: 600;
            line-height: 55px;
        }
    
        .huge-title-orange{
            font-size: 45px;
            font-weight: 600;
            line-height: 90px;
        }
      }
  }