  .main-layout-navbar-w{
    padding-top: 0;
    height: 15vh;
    position: sticky;
    top:0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 2;

   
  }

  .main-layout-content-w{
    padding: 2% 4%;
    min-height: 85vh;
    background-color: white;
    box-shadow: 0px 0px 5px  rgba(0,0,0,.2);
    z-index: 0;
  }

  .landing-layout-w{
    .landing-navbar-w{
      padding-top:0;
      height: 15vh;
      position: sticky;
      top: 0;
      left: 0;
      width: 100%;
      background-color: white;
      z-index: 2
    }
      
  }